
	#story {margin-top: 10rem;}
	.story-head{
		color: #fff;
    	font-size: 18px;
    	font-weight: 800;
	}
    #focused-events{ margin-top: 100px;}

	.dropdown-menu {
	    position: absolute;
	    text-align: left;
	}

	#navbar-main .nav .active a {color: #CE000D;}

		/*----------------------------*/
		#our-venues-contact {
			color: #fff; 
			/*margin-top: 100px;*/ /*Added by me commented*/
			margin-bottom: 90px;
		}
		#our-venues-contact .ov-box .ov-1 img { width: 25%; margin: 0px 0px!important;}
		#our-venues-contact .ov-box .ov-2 img { width: 64px;  margin: 0px 0px!important;}
		#our-venues-contact .ov-box .ov-3 img { width: 77px;  margin: 0px 0px!important;}
		#our-venues-contact .ov-box .ov-4 img { width: 77px;  margin: 0px 0px!important;}

		#our-venues-contact .ov-box{ margin-bottom: 35px;}
		.ov-1 {
		    background: #e53131;
		    text-align: left;
		    padding: 30px;
		}	

		.ov-2 {
		    background: #2B2B2A;
		    text-align: left;
		    padding: 30px;
		}

		.ov-3 {
		    background: #BB9650;
		    text-align: left;
		    padding: 30px;
		}

		.ov-4 {
		    background: #fff;
		    text-align: left;
		    padding: 30px;
		}
		.ov-1 .cont-ov-text{padding-top: 88px; padding-bottom: 40px;}
		.ov-2 .cont-ov-text{padding-top: 26px;padding-bottom: 69px;}
		.ov-3 .cont-ov-text{padding-top: 45px;padding-bottom: 45px;}
		.ov-4 .cont-ov-text{ color: #000; padding-top: 45px;padding-bottom: 79px;}
		.ov-4 .cont-email{color: #000;}

		.cont-ov-text{
			font-size: 28px;
		    font-weight: 800;
		    line-height: 1;
		}

		.cont-email{
			font-size: 20px;
		}


	@media (max-width: 500px) {
	    
	    #header{background-image: unset;}
		.dropdown-menu {
		    position: inherit;
		    text-align: left!important;
		}

	    .logo-img { width: 80%;}
			.cont-ov-text {
		    font-size: 21px;
		    font-weight: 600;
		    padding: 35px 0px;
		    letter-spacing: 0px;
		}
		.ov-4 .cont-ov-text {padding-bottom: 35px;}

		.ov-1 .cont-ov-text{padding-top: 40px; padding-bottom: 40px;}
		.ov-2 .cont-ov-text{padding-top: 40px;padding-bottom: 40px;}
		.ov-3 .cont-ov-text{padding-top: 40px;padding-bottom: 40px;}
		.ov-4 .cont-ov-text{color: #000;padding-top: 40px;padding-bottom: 40px;}

		.cont-email { font-size: 20px;  margin: 0 0 0px; }

		#our-venues-contact {
			color: #fff; 
			/*margin-top: 100px;*/ /*Added by me*/
			margin-bottom: 63px;}

	}