/*---------------------------------
          Desk Navbar 
----------------------------------*/

body{font-family: 'Nunito Sans'!important;background-color: #141414;}


/*Added by me*/

.whats-heading h1{     
    font-size: 80px;
    font-weight: 800;
    padding: 0px 30px;
    letter-spacing: 4px;
    color: #fff;
}

#header .container {
    /*width: 1488px;*/
}
#menu-container .container{
    /*width: 1257px!important;*/
    margin-bottom: 5rem;
}

#menu-container .grid-container{
    max-width: 1257px!important;   
}

#booking .container{
    width: 970px;    
}

#aboutus .container{
    width: 970px;    
}

#our-venues .container{
    width: 1066px;    
}

#blog .container{
    width: 1066px;    
}

/*#header{
    background-image: url("../images/background/Background-image.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;*/
    color: #fff;
}

.logo-img{    
    width: 26%;
    float: left;
}

.logo-img-mob{display: none;}

#banner-img{
    /*text-align: center;*/
    padding: 30px 42px;}

#header h1{     
    font-size: 80px;
    font-weight: 800;
    padding: 0px 30px;
    letter-spacing: 4px;
    color: #fff;
}

#header .banner-logo-text{    margin: 0px 50px;}

/*------------- Navbar -----------*/

.navbar-text{}
#subnavbar a {color: #fff;}
#subnavbar .navbar-text{font-size: 21px;color: #fff!important;font-weight: 700;margin: 13px 30px;}
#subnavbar .navbar-text-phone {
    font-size: 21px;
    color: #fff!important;
    font-weight: 700;
    margin: 13px 45px;
}
#mob-nav{display: none;}

.caret {  display: none!important;}

#navbar-main{
    padding: 0px;
    border-radius: 0;
}

#navbar-main .navbar-nav>li>a {
    padding: 15px 59px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 65px;
}

.navbar-nav>li {
    float: left;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#navbar-main .nav>li>a:focus, .nav>li>a:hover {
    background-color: #01010173!important;
    /*color: #CE000D!important;*/
}

#navbar-main .nav .active a{ background-color: #01010173!important; }

#navbar-main .nav .active_venue_menu a{ background-color: #01010173!important; } /*Added by me*/

#navbar-main .navbar-toggle .icon-bar {
    background-color: #fff;
}



/*dropdown*/
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {/*background-color: #01010173!important;*/background-color: none!important;}
.open{background: #0000004f;}


.dropdown .fa-arrow-down{    float: right;}


.dropdown .fa-arrow-down {
  transition: all 0.5s ease;
}
.rtoate180 {
  transform: rotate(180deg);
}



.dropdown-menu>.drp-lemon>a:hover {color: #6C5E93!important;}
.dropdown-menu>.drp-the_ram>a:hover {color: #738626!important;}
.dropdown-menu>.drp-great_hall>a:hover {color: #BB9650!important;}
.dropdown-menu>.drp-forum_kitchen>a:hover {color: #FF9300!important;}

.dropdown-menu{    
    background-color: #0000008c!important;
    width: 100%;
    text-align: center!important;
    margin-bottom: 30px;
    padding: 18px 0;
    border: none!important;
}
.dropdown-menu>li>a {color: #fff;}/*!important*/
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color:#f5f5f505!important ;
    color: #D10000!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

#mob-navbar-main{display: none;}

/*---------- mov -nav ----*/

.mob-header{color: #fff;}
.mob-header span{font-weight: 700;}

#mob-nav .mob-header{    padding: 15px 0;}

#mob-nav .mob-header .btn-bar {
    float: right;
    background: transparent;
    font-size: 24px;
    padding: 0px 12px;
}
.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-body .active a {
    background-color: #01010173!important;
}
.modal-body {
    padding: 15px 45px;
}
.modal-title{color: #fff;}
.close { opacity: 1;}
.modal-header{border-bottom: none!important;}
.modal-header .close { color: #fff; }
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
  animation-duration:0.6s;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
  color: #fff;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}

/*----------Modal nav---------*/

 .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: #000;
}

.modal-header h4{font-size: 16px;}

#mob-nav .mob-header{    padding: 15px 13px;}

#mob-nav .mob-header .btn-bar{float: right; background: transparent;}

.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-title{color: #fff;}
.close { opacity: 1;}
.modal-header{border-bottom: none!important;}
.modal-header .close { color: #fff; }
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
  animation-duration:0.6s;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
  color: #fff;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}



/*---------mob-nav---------------*/

    #cssmenu {padding: 0; margin: 0; border: 0; line-height: 1;}
    #cssmenu ul,
    #cssmenu ul li{list-style: none; margin: 0; padding: 0;}

    #cssmenu ul li.hover,
    #cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}

    #cssmenu {font-weight:bold;
    zoom: 1; font-size: 12px;}
    #cssmenu:before {content: ''; display: block;}

    #cssmenu:after{content: ''; display: table; clear: both;}
    #cssmenu a { display: block; padding: 30px 36px; color: #fff; text-decoration: none;
    text-transform: uppercase; border-bottom: 1px solid #696969; font-size: 18px;}
    .dropdown-menu a{border-bottom: none;}
    

    #cssmenu > ul > li a:hover {    background: #0000004f; color:#f1f1f1;}
    #cssmenu .dropdown-menu>li>a {
        color: #fff!important;
        border-bottom: none!important;
        padding: 10px 36px!important;
        font-size: 16px;
    }

    #cssmenu .dropdown-menu>li>ul { background: #fff; }


    #cssmenu .open a{border-bottom: none;} 

/*---------------Text para ----------*/
#text-para
{
    /*background: #000;*/
    color: #fff;
    padding: 100px 0px;
}

#text-para p{
    font-size: 28px;
    letter-spacing: 2px;
   /* margin: 0px 90px;*/
}


/*-----------------------------------------
                Media Query                               
------------------------------------------*/

@media (max-width: 1500px) {
    #header .container {
        /*max-width: 1349px;*/
    }
    
    #navbar-main .navbar-nav>li>a {
        padding: 15px 59px;
    }
    
    .container {
        /*width: 1066px;*/
    }

    #booking .container{
        width: unset;
    }
    #our-venues .container{
        width: unset;
    }
    #aboutus .container{
        width: unset;
    }
    #blog .container{
        width: unset;
    }
}



@media (max-width: 500px) {

.container {
    width: unset !important;
/*    padding-right: 30px; /*Added by me*/
   /*  padding-left: 30px;*/ /*Added by me*/
}

#aboutus .container { /*Added by me*/
    width: unset;
    padding-right:unset;
    padding-left:unset;
 } 

    /*----------navbar-------*/
    .dropdown-menu { position: inherit;text-align: left!important;}
    #mob-nav{display: block;    padding: 0;}
    #subnavbar{display: none;}
    #navbar-main{display: none;}
    #mob-navbar-main .navbar-brand{
        color: #fff;
        font-size: 14px;
    }
    #mob-navbar-main{
        display: block;
        padding: 0px;
        border-radius: 0;
    }

    #mob-navbar-main .navbar-nav>li>a {
        padding: 15px 49px;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        line-height: 55px;
        border-top: 1px solid #696969;
    }

    #mob-navbar-main .navbar-nav>li { border-top: unset;}

    #mob-navbar-main .dropdown-menu{text-align: left!important;}

    #mob-navbar-main .dropdown-menu>li>a { font-weight: 600;}

    #mob-navbar-main .nav>li>a:focus, .nav>li>a:hover {
        background-color: #01010173!important;
        color: #CE000D!important;
    }

    #mob-navbar-main .nav .active a{
        background-color: #01010173!important;
        color: #CE000D!important;
    }

    #mob-navbar-main .navbar-toggle .icon-bar {
        background-color: #fff;
    }

       #mob-navbar-main  .nav>li{width: 100%;}
       #mob-navbar-main .navbar-nav>li{border-bottom: unset;}
       #mob-navbar-main  .navbar-nav>li{border-bottom: unset;}



    .heading { font-size: 25px!important;margin-top: 30px;margin-bottom: 0px; margin-left: 0!important;}
    #banner-img {
        /*text-align: center;*/
            padding: 20px 16px;
    }
    .dropdown-menu{margin-bottom: 30px!important;}

    /*--------text Para ---------*/
    
    #text-para{
        padding-top: 90px;
        padding-bottom: 50px;
        padding-right: 25px;
        padding-left: 25px;
        background: unset;
    }

    #text-para p {
        font-size: 18px;
        letter-spacing: 1px;margin-top: 100px;
    }

    #header .container{width: unset;}

    #header h1 {
        font-size: 29px;
        font-weight: 800;
        padding: 0px 0px;
        float: left;
        letter-spacing: 1px;
    }

     .whats-heading h1 { /*Added by me*/
        font-size: 29px;
        font-weight: 800;
        padding: 0px 0px;
        float: left;
        letter-spacing: 1px;
    }

    .logo-img { display: none; }
    .logo-img-mob { display: block; width: 60%;}

}

@media only screen   
and (orientation : portrait)   
and (-webkit-min-device-pixel-ratio: 1)   
and (min-device-width : 768px)   
and (max-device-width : 1007px)  
{ 

    #header .container{width: unset;}
    #navbar-main .navbar-nav>li>a {
        padding: 15px 18px!important;
    }

    #booking {padding: 0px;}
    #booking .row {
        border: none;
    }
    .university-logo {
        float: left;
        margin: 30px 0px;
    }

    #footer .design_develope p{text-align: left;margin: 10px 0px;}

    #booking .book-img{padding-right: 15px; padding-left: 15px;}
}

/*--------- ipad Medeia query -----------*/

         @media only screen and (min-width: 834px) and (max-width: 1194px)  { 
           #header .container{width: unset;!important;}
           .container{width: unset;}
           .desk-au-img{display: none;}
           .mob-au-img {display: block;}
           #text-para{padding: 100px 40px;}
           #blog{padding: 0px 40px;}
           #booking{padding: 0px 50px;}
           #booking .row{border: none;}
           #navbar-main .navbar-nav>li>a { padding: 15px 31px;}
           #our-venues .our_venues-row { flex-wrap: wrap;}
           #our-venues { padding: 30px 50px;}
           #our-venues .heading { margin-left: 15px!important;}
           #our-venues .ov-box {
                cursor: pointer;
                align-self: flex-end;
                width: 44.5%;
                margin: 10px 17px;
            }
            #our-venues .heading { margin-left: 0;}
            #our-venues .ov-box img{width: 100%;}
            #aboutus {margin: 0 50px;}

            #booking .book-img{ padding: 30px;}

            #story { margin-left: 50px; margin-right: 50px;}

            #our-venues-contact {
                color: #fff;
                margin-top: 100px;
                margin-bottom: 90px;
                margin-left: 50px;
                margin-right: 50px;
            }
            #our-venues-contact .ov-2 .cont-ov-text {padding-bottom: 59px;}

            .footer-section {padding: 0px 50px;}
            .footer .footer-social-icon a{margin-right: 10px!important;}

          } 

@media (max-width: 768px)
    .inside-article  {
     padding: 0px !important;
    } 
}

